html {
     box-sizing: border-box;
     font-size: 66.6%;
}

*,
*:before,
*:after {
     box-sizing: inherit;
}

/*Goblales*/


h1 {
     font-size: 4.8rem;
}

h2 {
     font-size: 4.0rem;
     line-height: 1.2;
}

h3 {
     font-size: 3.2rem;
}

h4 {
     font-size: 2.8rem;
}

img {
     max-width: 100%;
}

header {
     margin-bottom: 2rem;
}

/* configuracion de Bootstrap*/

.row {
     justify-content: space-between;
     margin: 0 auto;
     flex: 0 0 100%;
}



@media (min-width: 768px){
     .container {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          column-gap: 4rem;
     }
}

.btn{
     display: block;
     text-align: center;
     padding: 1rem 3rem;
     margin: 2rem 0;
     color: #ffffff;
     text-decoration: none;
     font-family: 'PT Sans', sans-serif;
     font-weight: 700;
     text-transform: uppercase;
     font-size: 2rem;
     flex: 0 0 100%;
}

@media (min-width: 768px){
     .btn {
          display: inline-block;
          flex: 0 0 auto;
     }
}

.col-sm-12 {
     padding: 2px 2px;
     margin: 2px 2px;
}

.col-sm-12 article {
     font-size: 20px;
}

.d-flex {
     align-items: center;
     justify-content: space-between;
}



/*Propias*/

.no-margin {
     margin: 0;
}

.site-header {
     background-image: url(../img/banner.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size: cover;
     height: 60rem;
}

/*header*/

.site-header h1 {
     color: white;
}

.site-header h1 span {
     font-weight: 700;
}

/*navegacion*/

.navegacion a {
     padding: 2rem;
     text-align: center;
     display: inline-block;
     font-size: 1.8rem;
     color: #ffffff;
     text-decoration: none;
}

@media (min-width: 786px) {
     .navegacion a {
          display: inline;
          margin-right: 2rem;
     }

     .navegacion a:last-of-type {
          margin: 0;
     }
}

/*header Texto*/

.texto-header {
     color: #ffffff;
     text-align: center;
     margin-top: 5rem;
}

@media (min-width: 768px) {
     .texto-header {
          margin-top: 15rem;
     }
}

.texto-header p {
     font-size: 2rem;
}

/*principal*/


/**footer**/

.site-footer{
     background-color: #000000;
     padding: 3rem;
     margin-top: 4rem;
}

.site-footer p{
     color:  #ffffff;
     font-size: 4rem;
     font-weight: 400;
     font-family: 'PT Sans', sans-serif;
     text-align: center;
}

.site-footer p span {
     font-weight: 700;
}